body {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center; }
  body span {
    font-family: 'Fascinate Inline', cursive; }
  body article {
    height: 100%;
    width: 30%;
    min-width: 20%;
    overflow: auto;
    position: absolute;
    left: 15%;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
    border: 2px solid white; }
    body article p {
      margin: 1%;
      padding: 1%;
      font-size: larger; }
    body article #about {
      padding-top: 10%;
      display: none; }
    body article #home {
      padding-top: 50%; }
    body article nav {
      margin: 0 auto;
      position: absolute;
      bottom: 3px;
      width: 100%; }
      body article nav li {
        text-align: center;
        display: inline-block;
        border: 1px solid black;
        list-style-type: none;
        overflow: hidden;
        width: 32%; }
      body article nav li:hover {
        color: white;
        background-color: black;
        opacity: 0.8; }
  body #myCarousel {
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    border: 20px solid white; }
    body #myCarousel .carousel-indicators {
      display: none; }
    body #myCarousel div {
      height: 100%;
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    body #myCarousel #img1 {
      background-image: url("../../images/1.jpg"); }
    body #myCarousel #img2 {
      background-image: url("../../images/DA1.png"); }
    body #myCarousel #img3 {
      background-image: url("../../images/DSC_0034_copy.JPG"); }
    body #myCarousel #img4 {
      background-image: url("../../images/DSC_0044.jpg"); }
    body #myCarousel #img5 {
      background-image: url("../../images/DSC_0044.jpg"); }
    body #myCarousel #img6 {
      background-image: url("../../images/DSC_0045.jpg"); }
    body #myCarousel #img7 {
      background-image: url("../../images/DSC_0047.jpg"); }
    body #myCarousel #img8 {
      background-image: url("../../images/DSC_0082.JPG"); }
    body #myCarousel #img9 {
      background-image: url("../../images/DSC_0325.JPG"); }
    body #myCarousel #img10 {
      background-image: url("../../images/DSC_0401_copy.JPG"); }
    body #myCarousel #img11 {
      background-image: url("../../images/DSC_0434_copy.JPG"); }
    body #myCarousel #img12 {
      background-image: url("../../images/DSC_0453_copy.JPG"); }
    body #myCarousel #img13 {
      background-image: url("../../images/gala_22.jpg"); }
    body #myCarousel #img14 {
      background-image: url("../../images/gala_23.jpg"); }
    body #myCarousel #img15 {
      background-image: url("../../images/gala_31.jpg"); }
    body #myCarousel #img16 {
      background-image: url("../../images/gala_53.jpg"); }
    body #myCarousel #img17 {
      background-image: url("../../images/PAL_12.jpg"); }
    body #myCarousel #img18 {
      background-image: url("../../images/PAL_13.jpg"); }
    body #myCarousel #img19 {
      background-image: url("../../images/PAL_14.jpg"); }

/*# sourceMappingURL=main.css.map */
