//sass --watch public/stylesheets/main.scss:public/stylesheets/css/main.css
@import "include-media";
body {
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	text-align: center;
	span {
		font-family: 'Fascinate Inline', cursive;
	}
	article {
		height: 100%;
		width: 30%;
		min-width:20%;
		overflow: auto;

		position: absolute;
		left:15%;
		right:0;
		top:0;
		bottom:0;
	
		
		background:rgba(255,255,255, 0.6);
		p {
			margin: 1%;
			padding:1%;
			font-size: larger;
		}

		:last-child{
			margin-top: 10%;
		}

		#about {
			padding:5px;
			padding-top: 10%;
			text-align: left;
			display: none;
		}

		#home{
			padding-top:50%;
		}

		nav {
			margin: 0 auto;
			position: absolute;
			bottom: 8px;
			width: 100%;
			li {
				text-align: center;
				display: inline-block;
				// border:1px solid black;
				list-style-type: none;
				// overflow: hidden;	
				width:32%;
			}
			// @keyframes moveFromBottom {
			//     from {
			//         opacity: 0;
			//         transform: translateY(200%);
			//     }
			//     to {
			//         opacity: 1;
			//         transform: translateY(0%);
			//     }
			// }
			// @keyframes moveFromTop {
			//     from {
			//         // opacity: 0;
			//         transform: translateY(-200%);
			//     }
			//     to {
			//         // opacity: 1;
			//         transform: translateY(0%);
			//     }
			// }
			li:hover{
				// animation: 500ms ease-in-out 100ms 1 moveFromTop;
				color:white;
				background-color: black;
				opacity: 0.8;
			}
		}
		// Needs to be updated
		// @include media("<=tablet"){
		// 	// temporary
		// 	position: absolute;
		// 	left:0;
		// 	right:0;
		// 	top:0;
		// 	bottom:0;

		// 	height: 30vh;
		// 	width: 100%;
		// 	nav{
		// 		li{
		// 			display: inline;
		// 		}
		// 	}
		// }
	}
	.galleried {
		position: fixed;
		top: 0;
		bottom:0;
		left: 0;
		right: 0;
		height:10%;
		width:100%;
	}
	header{	
		#myCarousel {	
			height: 100vh;
			max-width:100%;
			max-height:100vh;
			border: 20px solid white;
			.carousel-indicators {
				display:none;
			}
			div {
				height: 100%;
				margin:auto;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		.grid {
			display: none;
			height: 100vh;
			max-width:100%;
			max-height:100vh;
			border: 20px solid white;

			.grid-sizer,
			.grid-item {
			  width: 33.333%;
			  height:400px;
			}

			.grid-item { 
				// margin:auto;
				// border: 5px solid white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				// float:left;
			}
		}
		.img1 {
			background-image: url('../../images/1.jpg');
		}
		.img2 {
			background-image: url('../../images/DA1.png'); 
		}
		.img3 {
			background-image: url('../../images/DSC_0034_copy.JPG'); 
		}
		.img4 {
			background-image: url('../../images/DSC_0044.jpg'); 
		}
		.img5 {
			background-image: url('../../images/DSC_0044.jpg'); 
		}
		.img6 {
			background-image: url('../../images/DSC_0045.jpg'); 
		}
		.img7 {
			background-image: url('../../images/DSC_0047.jpg'); 
		}
		.img8 {
			background-image: url('../../images/DSC_0082.JPG'); 
		}
		.img9 {
			background-image: url('../../images/DSC_0325.JPG'); 
		}
		.img10 {
			background-image: url('../../images/DSC_0401_copy.JPG'); 
		}
		.img11 {
			background-image: url('../../images/DSC_0434_copy.JPG'); 
		}
		.img12 {
			background-image: url('../../images/DSC_0453_copy.JPG'); 
		}
		.img13 {
			background-image: url('../../images/gala_22.jpg'); 
		}
		.img14 {
			background-image: url('../../images/gala_23.jpg'); 
		}
		.img15 {
			background-image: url('../../images/gala_31.jpg'); 
		}
		.img16 {
			background-image: url('../../images/gala_53.jpg'); 
		}
		.img17 {
			background-image: url('../../images/PAL_12.jpg'); 
		}
		.img18 {
			background-image: url('../../images/PAL_13.jpg'); 
		}
		.img19 {
			background-image: url('../../images/PAL_14.jpg'); 
		}
	}
}